html, body {
    overflow-y: hidden;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 1px;
}

.page-content-left,
.page-content-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.log-footer {
    grid-column: 1 / span 2;
    position: sticky;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 3px;
    z-index: 5;
}
